# Android/Gradle
.gradle/
/local.properties
/.idea/
*.iml
/build/
app/build/

# Log/Temp
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

# Keystores (do not commit real ones)
*.jks
*.keystore

# Outputs
*.apk
*.aab
app/release/
app/debug/
app/build/outputs/
